default:
    suites:
        default:
            contexts:
                - App\Tests\Hexagon\Behat\GameContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php